<% include partial/header %>
<div class="container">
<div class="jumbotron mt-3">
  <h4>Welcome To Yalpcamp</h4>
    Photos of Camping
</div>
<a href="/campground" class="btn btn-success">Go To Campgorund</a>
<a href="/campground/new" class="btn btn-success" style="float : right ;">Add New Campgorund</a>
</div>
<% include partial/footer %>
