<footer class="footer">
            <div class="container mt-2">
              <i>&#169 2019 Yelpcamp All rights reserved</i>
            </div>
  </footer>
  <!-- <footer style="position: fixed;  height:0px;  bottom: 0;  width: 100%;">
      <div class="container">
        <i>&#169 2019 Yelpcamp All rights reserved</i>
      </div>
    </footer> -->
</body>
</html>
